# Exploratory Data Analysis (EDA) - Sierra Leone (Bumbuna) Solar Data
#
# **Objective:** Profile, clean, and explore Sierra Leone's (Bumbuna) solar dataset to understand its characteristics, identify trends, and extract insights for potential solar investments.
#
# **Business Objective Context:** MoonLight Energy Solutions aims to enhance operational efficiency and sustainability through targeted solar investments. This EDA will help identify high-potential regions by analyzing environmental measurement data.

## 1. Setup and Data Loading

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from scipy.stats import zscore
import os

plt.style.use('seaborn-v0_8-whitegrid')
sns.set_palette("viridis")

DATA_DIR = '../data/'
FILE_NAME = 'sierraleone-bumbuna.csv' 
data_path = os.path.join(DATA_DIR, FILE_NAME)

CLEANED_DATA_DIR = '../data/'
if not os.path.exists(CLEANED_DATA_DIR):
    os.makedirs(CLEANED_DATA_DIR)
cleaned_file_path = os.path.join(CLEANED_DATA_DIR, 'sierraleone-bumbuna_clean.csv') # <<< Adjusted cleaned file name

try:
    df_sl = pd.read_csv(data_path) 
    print(f"Successfully loaded {data_path}")
except FileNotFoundError:
    print(f"Error: {data_path} not found. Ensure the file is in the '{DATA_DIR}' directory.")
    df_sl = None
except Exception as e:
    print(f"An error occurred while loading the file: {e}")
    df_sl = None

Successfully loaded ../data/sierraleone-bumbuna.csv

## 2. Initial Data Inspection

In [2]:
if df_sl is not None:
    print("--- First 5 Rows (Sierra Leone - Bumbuna) ---")
    display(df_sl.head())

    print("\n--- Last 5 Rows (Sierra Leone - Bumbuna) ---")
    display(df_sl.tail())

    print("\n--- Data Info (Sierra Leone - Bumbuna) ---")
    df_sl.info()

    print(f"\n--- Data Shape (Sierra Leone - Bumbuna) ---")
    print(f"Rows: {df_sl.shape[0]}, Columns: {df_sl.shape[1]}")

    print("\n--- Data Types (Sierra Leone - Bumbuna) ---")
    display(df_sl.dtypes)
else:
    print("DataFrame for Sierra Leone not loaded. Skipping initial inspection.")

--- First 5 Rows (Sierra Leone - Bumbuna) ---

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
0,2021-10-30 00:01,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.1,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
1,2021-10-30 00:02,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
2,2021-10-30 00:03,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.2,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN
3,2021-10-30 00:04,-0.7,0.0,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.1,22.3,22.6,NaN
4,2021-10-30 00:05,-0.7,-0.1,-0.8,0.0,0.0,21.9,99.3,0.0,0.0,0.0,0.0,0.0,1002,0,0.0,22.3,22.6,NaN

--- Last 5 Rows (Sierra Leone - Bumbuna) ---

,Timestamp,GHI,DNI,DHI,ModA,ModB,Tamb,RH,WS,WSgust,WSstdev,WD,WDstdev,BP,Cleaning,Precipitation,TModA,TModB,Comments
525595,2022-10-29 23:56,-1.6,-0.1,-2.9,0.0,0.0,24.0,100.0,0.0,0.0,0.0,0.0,0.0,999,0,0.0,24.2,24.5,NaN
525596,2022-10-29 23:57,-1.7,-0.1,-3.0,0.0,0.0,24.0,100.0,0.0,0.0,0.0,0.0,0.0,999,0,0.0,24.2,24.5,NaN
525597,2022-10-29 23:58,-1.7,-0.1,-3.1,0.0,0.0,24.0,100.0,0.0,0.0,0.0,0.0,0.0,1000,0,0.0,24.1,24.4,NaN
525598,2022-10-29 23:59,-1.7,-0.2,-3.3,0.0,0.0,23.9,100.0,0.0,0.0,0.0,0.0,0.0,1000,0,0.0,24.1,24.4,NaN
525599,2022-10-30 00:00,-1.7,-0.1,-3.4,0.0,0.0,23.9,100.0,0.0,0.0,0.0,0.0,0.0,1000,0,0.0,24.1,24.4,NaN

--- Data Info (Sierra Leone - Bumbuna) ---
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 525600 entries, 0 to 525599
Data columns (total 19 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Timestamp      525600 non-null  object
 1   GHI            525600 non-null  float64
 2   DNI            525600 non-null  float64
 3   DHI            525600 non-null  float64
 4   ModA           525600 non-null  float64
 5   ModB           525600 non-null  float64
 6   Tamb           525600 non-null  float64
 7   RH             525600 non-null  float64
 8   WS             525600 non-null  float64
 9   WSgust         525600 non-null  float64
 10  WSstdev        525600 non-null  float64
 11  WD             525600 non-null  float64
 12  WDstdev        525600 non-null  float64
 13  BP             525600 non-null  int64
 14  Cleaning       525600 non-null  int64
 15  Precipitation  525600 non-null  float64
 16  TModA          525600 non-null  float64
 17  TModB          525600 non-null  float64
 18  Comments       0 non-null       float64
dtypes: float64(16), int64(2), object(1)
memory usage: 76.2+ MB

--- Data Shape (Sierra Leone - Bumbuna) ---
Rows: 525600, Columns: 19

--- Data Types (Sierra Leone - Bumbuna) ---

Timestamp         object
GHI              float64
DNI              float64
DHI              float64
ModA             float64
ModB             float64
Tamb             float64
RH               float64
WS               float64
WSgust           float64
WSstdev          float64
WD               float64
WDstdev          float64
BP                 int64
Cleaning           int64
Precipitation    float64
TModA            float64
TModB            float64
Comments         float64
dtype: object

### 2.1. Timestamp Conversion

In [3]:
if df_sl is not None:
    if 'Timestamp' in df_sl.columns:
        try:
            df_sl['Timestamp'] = pd.to_datetime(df_sl['Timestamp'])
            print("Timestamp column successfully converted to datetime for Sierra Leone.")
            display(df_sl[['Timestamp']].head(2))
            display(df_sl[['Timestamp']].dtypes)
        except Exception as e:
            print(f"Error converting Timestamp column for Sierra Leone: {e}")
    else:
        print("Error: 'Timestamp' column not found in Sierra Leone data.")
else:
    print("DataFrame for Sierra Leone not loaded. Skipping timestamp conversion.")

Timestamp column successfully converted to datetime for Sierra Leone.

            Timestamp
0 2021-10-30 00:01:00
1 2021-10-30 00:02:00

Timestamp    datetime64[ns]
dtype: object

## 3. Summary Statistics & Missing Value Report

In [4]:
if df_sl is not None:
    print("--- Summary Statistics (Numeric Columns - Sierra Leone) ---")
    numeric_cols_sl = df_sl.select_dtypes(include=np.number).columns
    if not numeric_cols_sl.empty:
        display(df_sl[numeric_cols_sl].describe().T)
    else:
        print("No numeric columns found for summary statistics in Sierra Leone data.")

    print("\n--- Missing Value Report (Counts & Percentage - Sierra Leone) ---")
    missing_report_sl = df_sl.isna().sum()
    missing_percentage_sl = (missing_report_sl / len(df_sl)) * 100
    missing_df_sl = pd.DataFrame({'Missing Count': missing_report_sl, 'Missing Percentage': missing_percentage_sl})
    missing_df_sl = missing_df_sl[missing_df_sl['Missing Count'] > 0].sort_values(by='Missing Percentage', ascending=False)

    if not missing_df_sl.empty:
        display(missing_df_sl)
    else:
        print("No missing values found in Sierra Leone data.")

    print("\n--- Columns with >5% Missing Values (Sierra Leone) ---")
    high_missing_cols_sl = missing_df_sl[missing_df_sl['Missing Percentage'] > 5]
    if not high_missing_cols_sl.empty:
        display(high_missing_cols_sl)
    else:
        print("No columns with >5% missing values in Sierra Leone data.")
else:
    print("DataFrame for Sierra Leone not loaded. Skipping summary statistics and missing values.")

--- Summary Statistics (Numeric Columns - Sierra Leone) ---

,count,mean,std,min,25%,50%,75%,max
GHI,525600.0,201.957515,298.495150,-19.5,-2.8,0.3,362.4,1499.0
DNI,525600.0,116.376337,218.652659,-7.8,-0.3,-0.1,107.0,946.0
DHI,525600.0,113.720571,158.946032,-17.9,-3.8,-0.1,224.7,892.0
ModA,525600.0,206.643095,300.896893,0.0,0.0,3.6,359.5,1507.0
ModB,525600.0,198.114691,288.889073,0.0,0.0,3.4,345.4,1473.0
Tamb,525600.0,26.319394,4.398605,12.3,23.1,25.3,29.4,39.9
RH,525600.0,79.448857,20.520775,9.9,68.7,85.4,96.7,100.0
WS,525600.0,1.146113,1.239248,0.0,0.0,0.8,2.0,19.2
WSgust,525600.0,1.691606,1.617053,0.0,0.0,1.6,2.6,23.9
WSstdev,525600.0,0.363823,0.295000,0.0,0.0,0.4,0.6,4.1
WD,525600.0,133.044668,114.284792,0.0,0.0,161.5,234.1,360.0
WDstdev,525600.0,7.172220,7.535093,0.0,0.0,6.2,12.0,98.4
BP,525600.0,999.876469,2.104419,993.0,999.0,1000.0,1001.0,1006.0
Cleaning,525600.0,0.000967,0.031074,0.0,0.0,0.0,0.0,1.0
Precipitation,525600.0,0.004806,0.047556,0.0,0.0,0.0,0.0,2.4
TModA,525600.0,32.504263,12.434899,10.7,23.5,26.6,40.9,72.8
TModB,525600.0,32.593091,12.009161,11.1,23.8,26.9,41.3,70.4
Comments,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN

--- Missing Value Report (Counts & Percentage - Sierra Leone) ---

          Missing Count  Missing Percentage
Comments         525600               100.0

--- Columns with >5% Missing Values (Sierra Leone) ---

          Missing Count  Missing Percentage
Comments         525600               100.0

### 3.1. Plan for Handling Missing Values (Sierra Leone)

In [5]:
if df_sl is not None:
    df_cleaned_sl = df_sl.copy()

    if 'Comments' in df_cleaned_sl.columns:
        comments_nan_or_empty_sl = df_cleaned_sl['Comments'].isna().sum() + (df_cleaned_sl['Comments'] == '').sum()
        if comments_nan_or_empty_sl / len(df_cleaned_sl) > 0.9:
            print("Dropping 'Comments' column for Sierra Leone as it is mostly empty/NaN.")
            df_cleaned_sl.drop('Comments', axis=1, inplace=True)
        else:
            print("Keeping 'Comments' column for Sierra Leone.")

    potential_numeric_cols = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'Tamb', 'RH', 
                              'WS', 'WSgust', 'WSstdev', 'WD', 'WDstdev', 'BP', 
                              'Precipitation', 'TModA', 'TModB']
    
    cols_to_impute_median_sl = [col for col in potential_numeric_cols if col in df_cleaned_sl.columns and df_cleaned_sl[col].isna().any()]

    print("\n--- Imputing Missing Values (Median - Sierra Leone) ---")
    for col in cols_to_impute_median_sl:
        if pd.api.types.is_numeric_dtype(df_cleaned_sl[col]):
            median_val = df_cleaned_sl[col].median()
            df_cleaned_sl[col].fillna(median_val, inplace=True)
            print(f"Imputed missing values in '{col}' (Sierra Leone) with median ({median_val:.2f}).")
        else:
            print(f"Column '{col}' (Sierra Leone) is not numeric, skipping median imputation.")

    if 'Cleaning' in df_cleaned_sl.columns and df_cleaned_sl['Cleaning'].isna().any():
        mode_cleaning_sl = df_cleaned_sl['Cleaning'].mode()[0]
        df_cleaned_sl['Cleaning'].fillna(mode_cleaning_sl, inplace=True)
        print(f"Imputed missing values in 'Cleaning' (Sierra Leone) with mode ({mode_cleaning_sl}).")

    print("\n--- Missing Values After Imputation (Sierra Leone) ---")
    remaining_missing_sl = df_cleaned_sl.isna().sum()
    display(remaining_missing_sl[remaining_missing_sl > 0])
    if remaining_missing_sl.sum() == 0:
        print("All identified missing values handled for Sierra Leone.")
else:
    print("DataFrame for Sierra Leone not loaded. Skipping missing value handling.")

Dropping 'Comments' column for Sierra Leone as it is mostly empty/NaN.

--- Imputing Missing Values (Median - Sierra Leone) ---

--- Missing Values After Imputation (Sierra Leone) ---

Series([], dtype: int64)

All identified missing values handled for Sierra Leone.

## 4. Outlier Detection & Basic Cleaning (Sierra Leone)
### 4.1. Z-score for Outlier Detection

In [6]:
if 'df_cleaned_sl' in locals() and df_cleaned_sl is not None:
    cols_for_zscore_sl = ['GHI', 'DNI', 'DHI', 'ModA', 'ModB', 'WS', 'WSgust']
    
    print("--- Outlier Detection (Z-score > 3 - Sierra Leone) ---")
    for col in cols_for_zscore_sl:
        if col in df_cleaned_sl.columns and pd.api.types.is_numeric_dtype(df_cleaned_sl[col]):
            if df_cleaned_sl[col].isna().any():
                 print(f"Warning: Column '{col}' (Sierra Leone) still contains NaNs before Z-score.")
            col_zscore_sl = zscore(df_cleaned_sl[col].dropna()) # Drop NaNs for Z-score if any slipped through
            # Align Z-score series with original dataframe (important if NaNs were dropped)
            zscore_series_sl = pd.Series(col_zscore_sl, index=df_cleaned_sl[col].dropna().index)
            df_cleaned_sl[f'{col}_zscore'] = zscore_series_sl # Store z-score
            
            is_outlier_sl = np.abs(df_cleaned_sl[f'{col}_zscore']) > 3
            if is_outlier_sl.any():
                print(f"Potential outliers found in '{col}' (Sierra Leone): {is_outlier_sl.sum()} instances.")
            else:
                print(f"No outliers (Z-score > 3) found in '{col}' (Sierra Leone).")
        else:
            print(f"Column '{col}' (Sierra Leone) not found or not numeric. Skipping Z-score.")
else:
    print("Cleaned DataFrame for Sierra Leone not available. Skipping outlier detection.")

--- Outlier Detection (Z-score > 3 - Sierra Leone) ---
Potential outliers found in 'GHI' (Sierra Leone): 2477 instances.
Potential outliers found in 'DNI' (Sierra Leone): 7586 instances.
Potential outliers found in 'DHI' (Sierra Leone): 2986 instances.
Potential outliers found in 'ModA' (Sierra Leone): 1604 instances.
Potential outliers found in 'ModB' (Sierra Leone): 2041 instances.
Potential outliers found in 'WS' (Sierra Leone): 3967 instances.
Potential outliers found in 'WSgust' (Sierra Leone): 3665 instances.

### 4.2. Plan for Handling Outliers & Physical Constraints (Sierra Leone)

In [7]:
if 'df_cleaned_sl' in locals() and df_cleaned_sl is not None:
    print("\n--- Applying Basic Physical Constraint Cleaning (Sierra Leone) ---")
    
    for col in ['GHI', 'DNI', 'DHI', 'ModA', 'ModB']:
        if col in df_cleaned_sl.columns:
            original_negative_count = (df_cleaned_sl[col] < 0).sum()
            original_high_count = (df_cleaned_sl[col] > 1500).sum()
            df_cleaned_sl[col] = df_cleaned_sl[col].clip(lower=0, upper=1500)
            if original_negative_count > 0: print(f"Clipped {original_negative_count} negative values in '{col}' (SL) to 0.")
            if original_high_count > 0: print(f"Clipped {original_high_count} values > 1500 in '{col}' (SL) to 1500.")

    if 'WS' in df_cleaned_sl.columns and 'WSgust' in df_cleaned_sl.columns:
        inconsistent_ws_mask_sl = df_cleaned_sl['WSgust'] < df_cleaned_sl['WS']
        if inconsistent_ws_mask_sl.any():
            print(f"Correcting {inconsistent_ws_mask_sl.sum()} instances in SL where WSgust < WS.")
            df_cleaned_sl.loc[inconsistent_ws_mask_sl, 'WSgust'] = df_cleaned_sl.loc[inconsistent_ws_mask_sl, 'WS']
            
    if 'RH' in df_cleaned_sl.columns:
        original_rh_out_of_bounds_sl = ((df_cleaned_sl['RH'] < 0) | (df_cleaned_sl['RH'] > 100)).sum()
        if original_rh_out_of_bounds_sl > 0:
            df_cleaned_sl['RH'] = df_cleaned_sl['RH'].clip(lower=0, upper=100)
            print(f"Clipped {original_rh_out_of_bounds_sl} RH values (SL) to be within [0, 100].")
            
    if 'Precipitation' in df_cleaned_sl.columns:
        original_precip_negative_sl = (df_cleaned_sl['Precipitation'] < 0).sum()
        if original_precip_negative_sl > 0:
            df_cleaned_sl['Precipitation'] = df_cleaned_sl['Precipitation'].clip(lower=0)
            print(f"Clipped {original_precip_negative_sl} negative Precipitation values (SL) to 0.")
else:
    print("Cleaned DataFrame for Sierra Leone not available. Skipping constraint cleaning.")

--- Applying Basic Physical Constraint Cleaning (Sierra Leone) ---
Clipped 261135 negative values in 'GHI' (SL) to 0.
Clipped 266352 negative values in 'DNI' (SL) to 0.
Clipped 263128 negative values in 'DHI' (SL) to 0.
Clipped 1 values > 1500 in 'ModA' (SL) to 1500.

## 5. Export Cleaned Data (Sierra Leone)

In [8]:
if 'df_cleaned_sl' in locals() and df_cleaned_sl is not None:
    try:
        z_score_cols_to_drop_sl = [col for col in df_cleaned_sl.columns if '_zscore' in col]
        df_to_export_sl = df_cleaned_sl.drop(columns=z_score_cols_to_drop_sl, errors='ignore')
        df_to_export_sl.to_csv(cleaned_file_path, index=False)
        print(f"Cleaned Sierra Leone data exported to: {cleaned_file_path}")
    except Exception as e:
        print(f"Error exporting cleaned Sierra Leone data: {e}")
else:
    print("Cleaned DataFrame for Sierra Leone not available. Skipping export.")

Cleaned Sierra Leone data exported to: ../data/sierraleone-bumbuna_clean.csv